@import "loaders.css/src/animations/ball-scale-ripple-multiple.scss";

.App {
  width: auto;
  text-align: center;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  padding-bottom: 15px;
}
